.background {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

    &::before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 40%;
        bottom: 0;
        background: linear-gradient(
            180deg,
            rgba(28, 65, 119, 0) 0%,
            #020a16 100%
        );
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
