.games {
    @media screen and (min-width: 769px) {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 10%;
        left: 20%;
    }

    &__item {
        position: relative;

        @media screen and (max-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
        }

        @media screen and (min-width: 769px) {
            &--rust {
                left: 15rem;
            }

            &--tf {
                top: 5rem;
                left: -15rem;
            }

            &--cs {
                top: 20rem;
                left: -25rem;
            }

            &--dota {
                top: 32rem;
                left: -22rem;
            }
        }
    }

    &__item-picture {
        display: block;
        max-width: 20rem;

        @media screen and (max-width: 768px) {
            &--cs {
                max-width: 10rem;
            }
        }

        @media screen and (min-width: 769px) {
            position: absolute;

            &--rust {
                width: 13rem;
                left: 3rem;
            }

            &--tf {
                width: 26.5rem;
                top: 5rem;
                right: -20rem;
            }

            &--cs {
                top: -2rem;
                left: 10rem;
                width: 22rem;
            }

            &--dota {
                top: -6rem;
                left: -13rem;
                width: 48.5rem;
            }
        }
    }

    &__item-text {
        text-transform: uppercase;

        &--rust {
            @include fontset(2rem, 122%, 600);
        }

        &--tf {
            display: table-caption;
            text-align: right;
            @include fontset(2.4rem, 122%, 600);
        }

        &--cs {
            @include fontset(3.6rem, 122%, 600);
        }

        &--dota {
            @include fontset(2.4rem, 122%, 600);
        }

        @media screen and (max-width: 768px) {
            @include fontset(2.4rem, 122%, 600);
            text-shadow: 0px 0px 40px rgb(255, 255, 255);
        }
    }
}
