.payments {
    margin-top: 5rem;
    margin-bottom: auto;
    text-align: center;

    &__text {
        display: block;
        @include fontset(2.4rem, 122%, 500);
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        display: flex;
        width: 7.7rem;
        height: 7.7rem;
        background-color: #1b2218;
        border-radius: 50%;
        z-index: 1;

        &--m-left {
            margin-left: -1.2rem;
            z-index: 0;
        }

        &--m-right {
            margin-right: -1.2rem;
            z-index: 0;
        }
    }

    &__item-picture {
        margin: auto;
        max-width: 5rem;

        &--height-fix {
            height: 1.4rem;
        }
    }
}
